* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.body {
  background-color: #FCF9F6;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

h1 {
  margin-top: 50px;

  font-family: 'Lusitana', Verdana, serif;
  color: #463118;
  text-align: center;
}
